<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/']">Home</a>
      <a class="nav-item nav-link" [routerLink]="['/department']">Department</a>
      <a class="nav-item nav-link" [routerLink]="['/employees']">Employees</a>
      <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
    </div>
  </div>
</nav>

<!-- <h3>Welcome to departmentView</h3> -->

<router-outlet></router-outlet>
